.services{
    margin: 1rem;
    justify-content: space-between;
}

.service_list{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: flex-start;
    justify-content: space-between;
}

.service_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 4rem;
}

.service_name{
    border: solid 1px black;
    padding: 2rem 0rem;
    font-size: 40px;
    text-align: center;
    flex-shrink: 0;
    width:20rem;
}

.service_description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    text-align: start;
}