#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* сброс стилей */

@font-face {
    font-family: "Roboto";
    src: url(./src/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    border: red;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}

a{
    /* Настройка стиля ссылки\якоря */
    color: #000;
    background-color: transparent;
    font-size: 18px;
    text-decoration: none;
    /* Убирает подчеркивание ссылки */
}

ul li {
    font-size: 24px;
    list-style: none;
}

h1 {
    font-size: 90px;
    color: #fff;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 48px;
    font-weight:normal;
}